<h2>List of ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating %> 
      <% if rating.user %>
        <%= link_to rating.user.username, rating.user %>
      <% else %>
        Unknown
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to 'create new ', new_rating_path %>

