<h2>List of ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating %> 
      <%= button_to 'Delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
    </li>
  <% end %>
</ul>
<%= link_to 'create new ', new_rating_path %>

