<p style="color: green"><%= notice %></p>

<% content_for :title, "Breweries" %>

<h2>Breweries</h2>

<div id="breweries">
  <% @breweries.each do |brewery| %>
    <%= render brewery.name %>
  <% end %>
</div>

<%= link_to "New brewery", new_brewery_path %>
<%= link_to "Beers", beers_path %>